{{ $thisUrl := .URL}}
{{ $thisPage := .Page }}
<nav role="navigation" class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container">
    <a href="/" class="navbar-brand">Robert Hodgen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        {{ range union (slice .Site.Home) (union (.Site.Sections) (slice (.Site.GetPage "about"))) }}
          <!-- ($thisUrl == .URL) || ($thisPage.InSection . && !.IsHome && !$this.IsHome) -->
          {{ $isActive := or (eq $thisUrl .URL) (and ($thisPage.InSection .) (not .IsHome) (not $thisPage.IsHome)) }}
          <li class="nav-item">
            <a href="{{ .Permalink }}" class="nav-link{{ if $isActive }} active{{end}}">
              {{ .Title }}
              {{ if eq $thisUrl .URL }}
                <span class="sr-only">(current)</span>
              {{end}}
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
