@import "../app.style";

.container-fluid.container-alt {
  background-color: #21252b;
  color: $rh-foreground;

  hr {
    border-top: $hr-border-width solid $rh-highlight;
  }
}

.code-block {
  display: table;
  font-family: $font-family-monospace;
  padding: $code-padding-y $code-padding-x;
  margin: 0 auto;
  font-size: 0;
  color: $rh-foreground;

  .code-line {
    display: block;

    & * {
      font-size: $font-size-base;
    }

    &.indent-1 {
      margin-left: 1rem;
    }

    &.indent-2 {
      margin-left: 2rem;
    }

    .code-key {
      color: $rh-color5;
    }

    .code-separator {
      color: $rh-color3;

      &.space-after:after {
        content: ' ';
      }
    }

    .code-string-value {
      color: $rh-color2;
    }

    .code-number-value {
      color: $rh-color4;
    }
  }
}
