@import "../app.style";

.container-fluid.rh-container-code {
  background-color: #21252b;
  color: $rh-foreground;

  hr {
    border-top: $hr-border-width solid $rh-highlight;
  }

  & > .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.container-fluid {
  & > .container {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.container-fluid.rh-footer {
  background-color: #f7f7f7;
  color: #636c72;

  a {
    color: #464a4c;
    font-weight: 500;
  }

  p {
    margin-bottom: 0;
  }
}

.code-block {
  display: table;
  font-family: $font-family-monospace;
  padding: $code-padding-y $code-padding-x;
  margin: 0 auto;
  font-size: 0;
  color: $rh-foreground;

  .code-line {
    display: block;

    & * {
      font-size: $font-size-base;
    }

    &.indent-1:before {
      font-size: $font-size-base;
      color: $rh-color15;
      content: '∙∙';
    }

    &.indent-2:before {
      font-size: $font-size-base;
      color: $rh-color15;
      content: '∙∙∙∙';
    }

    .code-key {
      color: $rh-color5;
    }

    .code-separator {
      color: $rh-color3;

      &.space-after:after {
        color: $rh-color15;
        content: '∙';
      }
    }

    .code-string-value {
      color: $rh-color2;
    }

    .code-number-value {
      color: $rh-color4;
    }
  }
}
