//$font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$headings-font-family: "Avro", Monaco, serif;

$font-family-monospace: Inconsolata, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$border-width: 1px;
$hr-border-width: $border-width * 3;

$rh-background: #21252b;
$rh-foreground: #9CA4B5;
$rh-cursor: #5293D8;
$rh-highlight: #3E4147;

$font-size-h1: 3.5rem;

$rh-color0: #16191F;
$rh-color1: #D42533;
$rh-color2: #59B21A;
$rh-color3: #CC9A3B;
$rh-color4: #5293D9;
$rh-color5: #AB45CA;
$rh-color6: #1AB2C4;
$rh-color7: #C4CAD6;
$rh-color8: #5C5F66;
$rh-color9: #824944;
$rh-color10: #7B9E62;
$rh-color11: #9C7048;
$rh-color12: #1E6AA8;
$rh-color13: #9344AB;
$rh-color14: #4A858C;
$rh-color15: #363c4a;
