//$font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$headings-font-family: "Avro", Monaco, serif;

$font-family-monospace: Inconsolata, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$border-width: 1px !default;
$hr-border-width: $border-width * 3;
